<footer class="bg-main text-white py-5">
<div class="container">
<div class="row g-3 text-center">


    <div class="col-md-4">
        <h3>LOCATION </h3>

        <p>2215 John Daniel Drive        </p>

        <p>Clark, MO 65243        </p>
    </div>


    <div class="col-md-4">
        <h3>AROUND THE WEB        </h3>

        <ul class="list-unstyled d-flex justify-content-center">
            <li>
                <i class="fa-brands fa-facebook mt-2"></i>
            </li>

            <li>
                <i class="fa-brands fa-twitter mt-2"></i>
            </li>

            <li>
                <i class="fa-brands fa-linkedin mt-2"></i>
            </li>

            <li>
                <i class="fa-solid fa-globe mt-2"></i>
            </li>
        </ul>
    </div>


    <div class="col-md-4">
        <h3>ABOUT FREELANCER        </h3>

        <p>Freelance is a free to use, licensed Bootstrap theme created by Route        </p>
    </div>


</div>
</div>
</footer>


<div class="copy text-center text-white-50 py-4">
    <p class="p-0 m-0">Copyright © Your Website 2021</p>
</div>