<nav class="navbar navbar-expand-lg bg-main fixed-top text-white  "  [class.p-4]="!isScrolling">
    <div class="container">
      <a class="navbar-brand text-uppercase fs-2 fw-bold nye" routerLink="">Start Framework</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link  text-uppercase fs-5 fw-bold mx-md-3 nye" aria-current="page" routerLink="about" routerLinkActive="Active">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase fs-5 fw-bold mx-md-3 nye" routerLink="portfolio" routerLinkActive="Active">portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase fs-5 fw-bold mx-md-3 nye" routerLink="contacet" routerLinkActive="Active">contacet</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
