/* You can add global styles to this file, and also import other style files */
:root{
    --main-clr:#2C3E50;
    --sec-clr:#1ABC9C;
}

.bg-main{
    background-color: var(--main-clr);
}

.text-main{
color: var(--main-clr);
}

.bg-sec{
    background-color: var(--sec-clr);
}

.text-sec{
    color: var(--sec-clr);
}

.btn-main{
    background-color: var(--main-clr);
    padding: 10px 25px;
    color: #fff;
    outline: unset;
    border: none;
    border-radius: 10px;
}

.mor,

.mor:active{
color: #fff !important;
text-decoration: none;
}

.pt-105{
    padding-top: 105px;
}

.vh-90{
    height: 90vh;
}